@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: "Hardpixel";
  src: url("./assets/fonts/Hardpixel.OTF") format("opentype");
}

@font-face {
  font-family: "Bulkypixel";
  src: url("./assets/fonts/BULKYPIX.TTF") format("truetype");
}

@font-face {
  font-family: "Halfpixel";
  src: url("./assets/fonts/half_bold_pixel-7.ttf") format("truetype");
}

body {
  background-color: #f8edf5;
  font-family: "Halfpixel";
  color: rgb(17, 33, 26);
  font-size: 12px;
  line-height: 1.75;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  text-align: left;
  height: 100vh;
}

a {
  background-color: black;
  color: aliceblue;
}

h3 {
  font-size: 12px;
}

.topbar {
  width: 100%;
}

#pages {
  position: relative;
}

input {
  font-family: inherit;
  border: 2px solid black;
  outline: none;
  width: 60%;
  height: 5%;
}

#dalle {
  font-family: inherit;
  border: 2px solid black;
  outline: none;
  width: 20%;
  height: 5%;
  position: absolute;
  top: 150px;
  right: 20px;
}

.container {
  display: flex;
}

.container-recipe {
  display: flex;
  background-color: aliceblue;
  margin-left: 10%;
  padding: 2%;
  width: 50vw;

  height: 300px;
  overflow-y: auto;
}

#home-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ba6f6f;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#home-btn:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

#sendRecipe {
  font-family: "Bulkypixel";
  padding: 2%;
  position: relative;
  background-color: #e6e5ff;
  color: #777ad8;
  box-shadow: -5px 0 0 0 #777ad8, 5px 0 0 0 #777ad8, 0 -5px 0 0 #777ad8,
    0 5px 0 0 #777ad8;
}

#sendRecipe:hover {
  background-color: #777ad8;
  color: #e6e5ff;
  box-shadow: -5px 0 0 0 #e6e5ff, 5px 0 0 0 #e6e5ff, 0 -5px 0 0 #e6e5ff,
    0 5px 0 0 #e6e5ff;
  opacity: 90%;
}

.user-inputs-container {
  background-color: #e6e5ff;
  padding: 5%;
  padding-bottom: 10%;
  color: #5f62aa;
  font-size: 1.5vh;
  overflow-y: auto;
  max-height: 100vh;
}

.user-inputs-container input {
  background-color: #f2f2ff;
  border: 1px solid #777ad8;
  height: 1.5vw;
}

.user-inputs-container input::placeholder {
  color: #bebdf3;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 5%;
  justify-content: center;
  padding-bottom: 20px;
}

.right-half {
  flex: 1;
  background-color: #bebdf3;
  padding: 1%;
  text-align: left;
  margin: 40px;

  width: 40%;
  height: 90vh;
  margin: 2em auto;
  box-shadow: -10px 0 0 0 #777ad8, 10px 0 0 0 #777ad8, 0 -10px 0 0 #777ad8,
    0 10px 0 0 #777ad8;
}

.left-half {
  flex: 1;
  width: 80%;
  margin-left: 4%;
  margin: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.suggested-recipe {
  background-color: #cebdf3;
  text-align: left;
  padding: 1%;
  width: 80%;
  height: 50vh;
  margin: 4%;
  margin: 2em auto;
  color: #755daa;
  box-shadow: -10px 0 0 0 #9677d8, 10px 0 0 0 #9677d8, 0 -10px 0 0 #9677d8,
    0 10px 0 0 #9677d8;
}

#outputRecipe {
  background-color: #ede5ff;
  padding: 2%;
}

.generated-img {
  background-color: #f1cef9;
  text-align: left;
  padding: 1%;
  width: 80%;
  height: 30vh;
  margin: 4%;
  margin: 2em auto;
  color: #755daa;
  box-shadow: -10px 0 0 0 #b36fc4, 10px 0 0 0 #b36fc4, 0 -10px 0 0 #b36fc4,
    0 10px 0 0 #b36fc4;
}

#outputImg {
  background-color: #f9e8fc;
  padding: 2%;
}

#sendImg {
  font-family: "Bulkypixel";
  padding: 2%;
  position: relative;
  background-color: #f9e8fc;
  color: #b36fc4;
  box-shadow: -5px 0 0 0 #9d5aad, 5px 0 0 0 #9d5aad, 0 -5px 0 0 #9d5aad,
    0 5px 0 0 #9d5aad;
}

#sendImg:hover {
  background-color: #b36fc4;
  color: #f9e8fc;
  box-shadow: -5px 0 0 0 #f9e8fc, 5px 0 0 0 #f9e8fc, 0 -5px 0 0 #f9e8fc,
    0 5px 0 0 #f9e8fc;
  opacity: 90%;
}

#nextPage {
  font-family: "Bulkypixel";
  padding: 2%;
  margin-left: 70%;
  position: relative;
  background-color: #f1c2dd;
  color: #b66393;
  box-shadow: -5px 0 0 0 #b66393, 5px 0 0 0 #b66393, 0 -5px 0 0 #b66393,
    0 5px 0 0 #b66393;
  align-self: flex-end;
}

#nextPage:hover {
  background-color: #b66393;
  color: #f1c2dd;
  box-shadow: -5px 0 0 0 #f1c2dd, 5px 0 0 0 #f1c2dd, 0 -5px 0 0 #f1c2dd,
    0 5px 0 0 #f1c2dd;
  opacity: 90%;
}

.recipe-steps {
  flex: 1;
  background-color: #bebdf3;
  padding: 1%;
  text-align: left;
  margin: 4%;

  width: 40%;
  height: 85vh;
  margin: 2em auto;
  box-shadow: -10px 0 0 0 #777ad8, 10px 0 0 0 #777ad8, 0 -10px 0 0 #777ad8,
    0 10px 0 0 #777ad8;
}

.recipe-steps-chat {
  background-color: #f1c2dd;
  box-shadow: -10px 0 0 0 #b66393, 10px 0 0 0 #b66393, 0 -10px 0 0 #b66393,
    0 10px 0 0 #b66393;
  padding: 1%;
  margin-right: 1%;
}

.recipe-quiz {
  background-color: #f0b5bc;
  box-shadow: -10px 0 0 0 #b76973, 10px 0 0 0 #b76973, 0 -10px 0 0 #b76973,
    0 10px 0 0 #b76973;
  padding: 1%;
  margin-left: 1%;
}

#prevPage {
  font-family: "Bulkypixel";
  padding: 2%;
  margin-right: 50%;
  position: relative;
  background-color: #f1cef9;
  color: #b36fc4;
  box-shadow: -5px 0 0 0 #b36fc4, 5px 0 0 0 #b36fc4, 0 -5px 0 0 #b36fc4,
    0 5px 0 0 #b36fc4;
  align-self: flex-end;
}

#prevPage:hover {
  background-color: #b36fc4;
  color: #f1cef9;
  box-shadow: -5px 0 0 0 #f1cef9, 5px 0 0 0 #f1cef9, 0 -5px 0 0 #f1cef9,
    0 5px 0 0 #f1cef9;
  opacity: 90%;
}

.btn {
  font-family: inherit;
  padding: 2%;
  position: relative;
  top: 10px;
  background-color: rgb(159, 220, 219);
}

.btn:hover {
  background-color: rgb(241, 48, 34);
}

#output {
  width: 90%;
  float: left;
  margin-top: 5%;
}

.output-image {
  position: absolute;
  top: 120px;
  left: 500px;
  width: 10vw;
  border-radius: 5%;
}

.outputImg div {
  width: 5%;
  height: auto;
}

.large-button {
  position: absolute;
  top: 90px;
  right: 20px;
  font-family: inherit;
  padding: 0.25rem 0.25rem;
  background-color: #7a6fba;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.large-button:hover {
  background-color: #f0f0f0;
}

/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */

#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.inter {
  border: 5px solid #db6666;
  padding: 20px;
}

#commandDiv {
  height: 30vh;
  width: 50vw;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* justify-content: center; */

  background-color: #060606;
}

:root {
  /* Text size */
  --size: 1.2;
}

.terminal {
  /* inside text color */
  --color: #000000;
}

.cmd {
  /* user input color */
  --color: #000000;
}

.cmd-prompt {
  /* blinking input color */
  --color: #000000;
}

.interRight {
  /* border: 10px solid #f0b5bc; */
  padding: 20px;
  margin: 2%;
}

#commandDivRight {
  flex-grow: 2;
  width: 40vw;

  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  justify-content: center;

  background-color: #ffe7e4;
}

.interLeft {
  /* border: 10px solid #f1c2dd; */
  padding: 0px;
  margin: 2%;
}

#commandDivLeft {
  flex-grow: 2;
  width: 40vw;

  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* justify-content: center; */

  background-color: #ffe6ef;
}

.terminal-container {
  display: flex;

  justify-content: center;
  align-items: stretch;
  height: 100%;
  padding: 100px;
  padding-left: 0;
  padding-right: 0;
  gap: 40px;
}
